@page
@model asp_presentacion.Pages.Ventanas.Perfiles.EmpleadosPerfilModel
@{
    ViewData["Titulo"] = "Perfil";
}

<content class="perfil_Usuario">
    <form method="POST">
        @Html.AntiForgeryToken()
        <div class="panel_Usuario">
            <div id="datos-Usuario" class="datos_Usuario">
                @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas)
                {
                    <p>Usuario: </p>
                    <p>Nombre: </p>
                    <p>Cedula: </p>
                    <p>Salario: </p>
                    <p>Telefono: </p>
                    <p>Rol: </p>
                }
            </div>
            <div class="acciones_Usuario">
                <button type="submit"
                    class="acciones_Usuario_btns"
                    asp-page-handler="BtnCerrarSesion"
                    name="">
                    Cerrar sesion.
                </button>
                <button type="submit"
                    class="acciones_Usuario_btns"
                    asp-page="/Ventanas/AccionesEmpleados/OperarVideojuegos"
                    name="OperarVideojuegos">
                    Operar Videojuegos.
                </button>
                @if(User.IsInRole("Admin")){
                    <button type="submit"
                        class="acciones_Usuario_btns"
                        asp-page="/Ventanas/AccionesEmpleados/OperarEmpleados"
                        name="OperarEmpleados">
                        Operar empleados.
                    </button>
                    <button type="submit"
                        class="acciones_Usuario_btns"
                        asp-page-handler=""
                        name="">
                        Revisar auditorias.
                    </button>
                }
            </div>
        </div>
    </form>
</content>



