@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" >
    <p class="texto">
    <tittle class="display-4">Bienvenido a tu tienda</tittle>
    </p>
</div>


<div style="height: 50px"> </div>
<div class="text-center">
    <h4 class="texto">Porque todos sabemos que no son solo juegos, tu nueva aventura se encuentra aquí</h4>
</div>


<div style="height: 350px;"></div>

<div class="text-center">
    <h4 class="texto">Siempre es bueno ver otras opiniones cuando no eres capaz de decidirte:</h4>

    <div class="contenedor-tarjetas">

       
        <a href="https://www.metacritic.com/game/" target="_blank" class="tarjeta-enlace">
            <div class="tarjeta">
                <img src="~/images/metacritic.png" alt="Metacritic" />
                <p>Metacritic</p>
            </div>
        </a>

        
        <a href="https://latam.ign.com/" target="_blank" class="tarjeta-enlace">
            <div class="tarjeta">
                <img src="~/images/ign.png" alt="IGN" />
                <p>IGN</p>
            </div>
        </a>

        <a href="https://vandal.elespanol.com/" target="_blank" class="tarjeta-enlace">
            <div class="tarjeta">
                <img src="~/images/Vandal.png" alt="IGN" />
                <p>IGN</p>
            </div>
        </a>

    </div>
</div>