@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="texto">Bienvenido a tu tienda</h1>

</div>

<div style="height: 50px;"></div>
<div class="text-center">
	<h2 class="texto">Porque sabemos que no es solo un juego, aquí encontraras tu siguiente aventura.</h2>
    </div>


<div style="height: 300px;"></div>

<div class="text-center">
    <h3 class=" texto">Siempre puedes ver otras opiniones si no te puedes decidir:</h3>

    <div class="contenedor-tarjetas">

        
        <a href="https://www.metacritic.com/game/" target="_blank" class="tarjeta-enlace">
            <div class="tarjeta">
                <img src="~/images/metacritic.png" alt="Metacritic" />
                <p>Metacritic</p>
            </div>
        </a>

        
        <a href="https://latam.ign.com/" target="_blank" class="tarjeta-enlace">
            <div class="tarjeta">
                <img src="~/images/ign.png" alt="IGN" />
                <p>IGN</p>
            </div>
        </a>
        
        <a href="https://vandal.elespanol.com/" target="_blank" class="tarjeta-enlace">
            <div class="tarjeta">
                <img src="~/images/Vandal.png" alt="Vandal" />
                <p>IGN</p>
            </div>
        </a>

    </div>
</div>
